<head>
 <title> Battle </title>
</head>
<style>
body {
  background-color: red;
}
.upper {
  align: center;
  background-color: teal;
  border-style: inset;
  border-color: gold;
}
.ok {
  align: center;
  font-size: 35px;
  background-color: blue;
  padding: 40px;
}
.row {
  display: flex;
}
</style>
<body>
 <div class="upper">
<%= @game.current_turn.name %> <%=@attack_type%> <%= @game.opponent_of(@game.current_turn).name %>
<br>
<%= @game.opponent_of(@game.current_turn).name %> lost <%=@messages[0].round(2)%> hp
<% if @messages[1] == 'm' then %> <%="#{@game.current_turn.name} Has Missed!"%> <%end%>
<% if @messages[1] == 's' then %> <%="#{@game.opponent_of(@gamecurrent_turn).name} Has been stunned!"%><%end%>
<% if @messages[1] == 'b' then %> <%="#{@game.opponent_of(@gamecurrent_turn).name} Is wounded and bleeding!"%><%end%>

 </div>
  <br>
  <br>
 <div class="row"align="left">
<img src="https://vignette.wikia.nocookie.net/town-of-salem/images/e/ee/Crusader_Avatar.png/revision/latest?cb=20170731083617"align="left"height="80%">
<form action="/switchturns" method="post">
<input class="ok"type="submit" value="OK">
</form>
<img src="https://vignette.wikia.nocookie.net/world-of-warriors/images/7/7e/Mamluk_4.png/revision/latest?cb=20140613154405"align="right"height="50%"width="40%">
 </div>
</body>